.navbar {
  background-color: #2C3E50;
  padding-block: 1.5rem;
  position: sticky;
  transition: all 0.5s;
  top: 0;
  left: 0;
  right: 0;
  z-index: 999;
}

.navbar .container .navbar-brand {
  font-size: 2rem;
  font-weight: 700;
}

.navbar .container .nav-item {
  padding-inline: .5rem;
}

.navbar .container .nav-item .nav-link {
  color: #fff;
  font-weight: 700;
  font-size: 1rem;
} 

.navbar .container .nav-item .nav-link.active,
.navbar .container .nav-item .nav-link:focus {
  background-color: #1ABC9C;
  border-radius: .5rem;
}

.navbar.scrolled {
  padding-block: .5rem;
  transition: all 0.5s;
}

.about {
  background-color: #1ABC9C;
  min-height: 80vh;
}

.about .container{
  min-height: 80vh;
}

.title h2 {
  font-size: 2.5rem;
  font-weight: 700;
  margin-bottom: 1rem;
  color: #2C3E50;
}

.title .icon {
  display: inline-block;
  position: relative;
  color: #2C3E50;
}

.title .icon::before {
  content: ''; 
  background-color: #2C3E50;
  position: absolute;
  width: 5rem; 
  height: .25rem;
  left: -6.25rem;
  bottom: 40%;
}

.about .title .icon::before {
  background-color: #fff;
}

.title .icon::after {
  content: ''; 
  background-color: #2C3E50;
  position: absolute;
  width: 5rem; 
  height: .25rem;
  right: -6.25rem;
  bottom: 40%;
}

.about .title .icon::after {
  background-color: #fff;
}

.footer {
  background-color: #2C3E50;
}

.footer .footer-about {
  padding-block: 3.75rem;
}

.footer .footer-about h3 {
  font-size: 1.75rem;
  padding-top: 1.25rem;
  font-weight: 500;
}

.footer .footer-about h3 {
  font-size: 1.75rem;
  padding-top: 1.25rem;
  font-weight: 500;
}

.footer .social-media .social-icon {
  width: 2.5rem;
  height: 2.5rem;
  border: .0625rem solid #fff;
}

.footer-copyright {
  background-color: #1A252F;
  padding-block: 1.25rem;
}

.footer-copyright p {
  font-size: 1rem;
  margin-bottom: 0;
}

.contact .btn-color {
  background-color: #1ABC9C;
  color: #fff;
}

.overlayer {
  background-color: rgba(26, 188, 156, 0);
  transition: all 0.8s;
}

.overlayer i {
  font-size: 6rem;
  opacity: 0;
  transition: all 0.8s;
}

.item:hover .overlayer {
  background-color: rgba(26, 188, 156, 0.8);
}

.item:hover .overlayer i{
  opacity: 1;
}